<div id="countdown"></div>
<audio id="audio" src="https://www.soundjay.com/clock/alarm-clock-01.mp3" autostart="false" ></audio>
<div id="timer-buttons">
  <i class="fa btn fa-backward fa-2x timer-btn" id="reset-btn" aria-hidden="true"></i>
  <i class="fa btn fa-play fa-2x timer-btn" id="start-btn" aria-hidden="true"></i>
  <i class="fa btn fa-pause fa-2x timer-btn" id="pause-btn" aria-hidden="true"></i>
  <i class="fa btn fa-play fa-2x timer-btn" id="resume-btn" aria-hidden="true"></i>
</div>

<% if session_logged_in?%>
  <%= link_to 'Create a task', new_task_path %>
  <div class="list-container">
    <h3>My  Tasks</h3>
    <ul class="task-list-group">
      <% @user_tasks.each do |task| %>
        <a class="task-list-item false-link" value="<%= task.id %>"><%= task["submitted_task"] %></a>
      <% end %>
    </ul>
  </div>
<% end %>

