<div id="countdown"></div>
<audio id="audio" src="https://www.soundjay.com/clock/alarm-clock-01.mp3" autostart="false" ></audio>
<div id="timer-buttons">
  <input class='btn' id='start-btn' type='submit' value='Start'>
  <input class='btn' id='reset-btn' type='submit' value='Reset'>
  <input class='btn' id='pause-btn' type='submit' value='Pause'>
  <input class='btn' id='resume-btn' type='submit' value='Resume'>
</div>

<% if session[:current_user_id]%>
  <%=link_to 'Create a task', new_task_path %>
  <h3>My Tasks</h3>
  <ul>
    <% @user_tasks.each do |task| %>
      <li><%= task.submitted_task %></li>
    <% end %>
  </ul>
<% end %>

