<div id="countdown"></div>
<input class='btn' id='start-btn' type='submit' value='Start'>
<input hidden class='btn' id='reset-btn' type='submit' value='Reset'>
<input hidden class='btn' id='pause-btn' type='submit' value='Pause'>
<input hidden class='btn' id='resume-btn' type='submit' value='Resume'>
